_build/
._*
.AppleDouble
.buildpath
.classpath
.coverage
.cproject
.DS_Store
.elasticbeanstalk/
.externalToolBuilders/
.idea/
.loadpath
.LSOverride
.metadata
.project
.sass-cache/
.settings/
.Spotlight-V100
.static
.tox
.Trashes
*.bak
*.egg-info
*.launch
*.log
*.pot
*.pyc
*.pydevproject
*.swp
*.tmp
*~.nib
bin/**
dist/*
local_credentials.py
Icon
local.properties
MANIFEST
scss/*.css
tmp/**
tmp/**/*
