include LICENSE
include README.rst
include setup.py
include requirements.txt
recursive-include slingshot *
recursive-exclude slingshot *.pyc
recursive-exclude slingshot *.pyo
exclude tox.ini
recursive-exclude docs *
recursive-exclude tests *
